/*========================
FONTS AND BASIC DOCUMENT STYLING
=========================*/

/*FONTS USED IN DOCUMENT*/
	/*font-family: "freight-text-pro",sans-serif;
	font-family: "freight-sans-pro",sans-serif;*/


*, *:before, *:after {
  -moz-box-sizing: border-box;  
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-7xydsb');
	src:url('../fonts/icomoon.eot?#iefix-7xydsb') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-7xydsb') format('woff'),
		url('../fonts/icomoon.ttf?-7xydsb') format('truetype'),
		url('../fonts/icomoon.svg?-7xydsb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-linkedin:before {
	content: "\e602";
}
.icon-checkmark:before {
	content: "\e603";
}
.icon-cancel:before {
	content: "\e604";
}
.icon-plus:before {
	content: "\e605";
}
.icon-minus:before {
	content: "\e606";
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.mark_opacity {
	opacity: 0.4;
}

.show {
	opacity: 1;
}

/*========================
GLOBAL
=========================*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

.freight_sans {
	font-family: "freight-sans-pro", sans-serif;
}

.freight_text {
	font-family: "freight-text-pro", serif;
}

button {
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}

#wrapper {
	min-height:100%;
	position:relative;
	display: none;
}

.overlay {
	background-color: white;
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	text-align: center;
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex; 
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

#introTitle {
	font-size: 70px;
	letter-spacing: -3px; 
	font-weight: bold;
	height: 140px;
	display: inline-block;
	color:  rgba(0, 0, 0, 0.7);
	display: none;
}


/*========================
HEADER
=========================*/

header {
	padding: 0 22px;
	position: relative;
	width: 100%;
	height: 148px;
}


.format_image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center
}


.limit_container {
	width: 277px;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.add_item_box {
	/*border: 1px solid pink;*/
	width: 100%;
	position: relative;
	bottom: -60px;
}

.enter_message {
	color: white;
	position: absolute;
	top: 41px;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	display: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}


#item_description,
#item_name {
	color: white;
	width: 250px;
}

#item_desc {
	font-size: 18px;
	font-weight: 500;

}

#item_name {
	font-size: 35px;
	font-weight: bold;
}

input {
	position: relative;
	display: inline-block;
	background: rgba(0,0,0,0);
	border: none;
	color: white;
	width: auto;
	height: auto;
	padding: 0;
}

input:focus {
	outline: none;
}


#add_item {
	font-size: 28px;
	/*width must match font size*/
	width: 28px;
	color: white;
	padding: 0;
	position: relative;
	top: -33px;
	float: right;
	cursor: pointer;
}

#add_item:active {
	font-size: 26px;
	/*This margin keeps the button in place when clicked*/
	margin: 1px 0 0 0;
}


/*========================
SECTION FILTER
=========================*/

.section_filter {
	width: 100%;
	height: 30px;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	list-style: none;
	padding: 0;
	margin: 17px 0 0 0;
}

.tag {
	border-top: 2px solid #3e3e3e;
	display: inline-block;
	position: relative;
	margin: -1px;
	padding: 0;


}

.tag p {
	margin: 9px 0 0 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	color: rgba(34, 34, 34, 0.4);
}


/*========================
LIST ITEMS
=========================*/
.list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	padding-bottom: 60px;
}

#emptyListMessage {
	font-size: 18px;
	text-align: left;
	margin: 25px 0 0 0;
	color: rgba(0, 0, 0, 0.3);
}


.list_item {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	margin: 15px 0 0 0;
	padding: 0 0 4px 0;
	position: relative;
	list-style: none;
	cursor: move;
	background: white;
}

.list_item_title {
	position: relative;
	margin-bottom: 0px;
}


.list_item_title p {
	color:  #3e3e3e;
	font-size: 32px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 -2px 0;
}

.list_item_desc  {
	position: relative;
	margin: 0px 0 5px 0;
}

.list_item_desc p {
	color:  rgba(34, 34, 34, 0.5);
	font-size: 16px;
	position: relative;
	font-weight: 400;
	padding: 0;
	margin: 2px 0 0 0;
	left: 0;
}

.mark,
.remove,
.minus {
	display: inline-block;
	position: absolute;
	right: 0;
	font-size: 26px;
	color:  rgba(0, 0, 0, 0.7);
	padding: 0;
	/*width must match the size of the font size*/
	width: 24px;
	top: 10px;
}

.remove {
	right: 26px;
}


.minus {
	display: none;
}


.mark:active,
.remove:active,
.minus:active {
	font-size: 24px;
	/*This bottom setting allows the button to stay in place when clicked.*/
	padding: 1px 0 0 1px;
}


.mark:active {
	color: #939900;
}

.minus:active {
	color: rgba(0,0,0,1);
}

.remove:active {
	color: #d7443a;
}



/*========================
FOOTER
=========================*/

.bottom {
	width: 277px;
	height: 30px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom: 5px;
	left: 0;
	right: 0;
}


.created_by {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 600;
	color: rgba(62, 62, 62, 0.3);
}

.created_by span {
	font-size: 16px;
	font-weight: 700;
	color: rgba(62, 62, 62, 0.3);
}

.created_by a {
	text-decoration: none;
	font-weight: 700;
	color: rgba(62, 62, 62, 0.3);

}

.created_by a:hover {
	color: rgba(62, 62, 62, 0.8);
}


.social_links {
	display: inline-block;
	list-style: none;
	margin: 0 0 0 0;
	vertical-align: middle;
	padding: 0;
	float: right;
}

.social_links li {
	display: inline-block;
	font-size: 18px;
	padding-left: 1px;
	padding-top: 1px;
}

.social_links li a {
	text-decoration: none;
	color: rgba(1, 4, 7, 0.3);
}

.social_links li a:hover {
	text-decoration: none;
	color: rgba(62, 62, 62, 0.8);
}


/*========================
MEDIA QUERIES TABLET/DESKTOP
=========================*/


@media (min-width: 720px) {


#introTitle {
	font-size: 115px;
	letter-spacing: -5px; 
	font-weight: bold;
	height: 200px;
	display: inline-block;
}



header {
	height: 354px;
}


.limit_container {
	width: 393px;
	height: auto;
	margin: 0 auto;
}

.enter_message {
	font-size: 20px;
	top: 215px;
}

.add_item_box {
	/*border: 1px solid pink;*/
	height: 80px;
	width: 100%;
	position: relative;
	bottom: -240px;
}


#item_desc {
	font-size: 25px;
	font-weight: 500;
}

#item_name {
	font-size: 42px;
	font-weight: bold;
}

input {
	position: relative;
	display: inline-block;
	background: rgba(0,0,0,0);
	border: none;
	color: white;
	width: auto;
	height: auto;
	padding: 0;
}

input:focus {
	outline: none;
}


#add_item {
	font-size: 30px;
	/*width must match font size*/
	width: 30px;
	top: -36px;
}

#add_item:active {
	font-size: 28px;
	/*This margin keeps the button in place when clicked*/
}

.tag p {
	font-size: 16px;
}

/*========================
LIST ITEMS
=========================*/

.list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	padding-bottom: 60px;
}

.list_item {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	margin: 15px 0 0 0;
	padding: 0 0 4px 0;
	position: relative;
	list-style: none;
	cursor: move;
	background: white;
}

.list_item_title {
	position: relative;
	margin-bottom: 0px;
}


.list_item_title p {
	color:  #3e3e3e;
	font-size: 37px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 -2px 0;
}

.list_item_desc  {
	position: relative;
	margin: 0px 0 5px 0;
}

.list_item_desc p {
	color:  rgba(34, 34, 34, 0.5);
	font-size: 18px;
	position: relative;
	font-weight: 400;
	padding: 0;
	margin: 2px 0 0 0;
	left: 0;
}

.mark,
.remove,
.minus {
	display: inline-block;
	position: absolute;
	right: 0;
	font-size: 30px;
	color:  rgba(0, 0, 0, 0.7);
	padding: 0;
	/*width must match the size of the font size*/
	width: 24px;
	top: 10px;
	right: 3px;
}

.remove {
	right: 34px;
}


.minus {
	display: none;
}


.mark:active,
.remove:active,
.minus:active {
	font-size: 28px;
	/*This bottom setting allows the button to stay in place when clicked.*/
	padding: 1px 0 0 1px;
}


.mark:active {
	color: #939900;
}

.minus:active {
	color: rgba(0,0,0,1);
}

.remove:active {
	color: #d7443a;
}

.social_links li {
	display: inline-block;
	font-size: 20px;
	padding-left: 1px;
	padding-top: 1px;
}


/*========================
FOOTER
=========================*/

.bottom {
	width: 393px;
	bottom: 9px;
}



} /*end of tablet media query*/





















